[submodule "lib/hxnodelibs"]
	path = lib/hxnodelibs
	url = https://github.com/HaxeFoundation/hxnodelibs.git
[submodule "lib/hxnodejs"]
	path = lib/hxnodejs
	url = https://github.com/HaxeFoundation/hxnodejs.git
[submodule "lib/tink_await"]
	path = lib/tink_await
	url = https://github.com/haxetink/tink_await.git
[submodule "private"]
	path = private
	url = ../giffon-private.git
