# package directories
node_modules
jspm_packages
.haxelib

# Serverless directories
.serverless

# Haxe output
www/js/BrowserMain.js
www/js/BrowserMain.js.map
ServerMain.js
ServerMain.js.map
test/specs/*.js

test/errorShots/