[submodule "lib/hxnodelibs"]
	path = lib/hxnodelibs
	url = https://github.com/HaxeFoundation/hxnodelibs.git
[submodule "lib/hxnodejs"]
	path = lib/hxnodejs
	url = https://github.com/HaxeFoundation/hxnodejs.git
[submodule "lib/tink_await"]
	path = lib/tink_await
	url = https://github.com/haxetink/tink_await.git
[submodule "private"]
	path = private
	url = ../giffon-private.git
[submodule "lib/extern-js-moment"]
	path = lib/extern-js-moment
	url = https://github.com/ExternKit/extern-js-moment.git
[submodule "lib/extern-js"]
	path = lib/extern-js
	url = https://github.com/ExternKit/extern-js.git
[submodule "lib/pyextern"]
	path = lib/pyextern
	url = https://github.com/andyli/pyextern.git
[submodule "lib/utest"]
	path = lib/utest
	url = https://github.com/andyli/utest.git
