</div>
<footer class="mt-auto text-center">
    <span class="copyright p-2">
        Copyright &copy; Giffon. All Rights Reserved.
    </span>
    <a class="p-2 text-nowrap" href="/terms">Terms and Conditions</a>
    <a class="p-2 text-nowrap" href="/privacy">Privacy Policy</a>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.12/jsrsasign-all-min.js" integrity="sha256-EI1piDYqyKFAy+ykWQZRjH5kkw9eIYE/IahQWg1rXt0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
<script src="<%=R("/js/vendor.js")%>"></script>
<script src="<%=R("/js/BrowserMain.js")%>"></script>

</body>
</html>