<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125793554-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-125793554-1');
	</script>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Giffon: A crowd-gifting platform</title>
	<meta name="description" content="A crowd-gifting platform where you can state what you want and let your friends collectively buy it as a gift for you.">

	<link rel="canonical" href="<%=canonical%>">

	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon-precomposed" href="/apple-icon-152x152.png">
	<link rel="icon" href="/favicon-32x32.png" sizes="32x32">
	<link rel="shortcut icon" sizes="196x196" href="/android-icon-192x192.png">

	<meta name="msapplication-TileColor" content="#B7F8DB">
	<meta name="msapplication-TileImage" content="android-icon-144x144.png">

	<link rel='mask-icon' href='/images/6b.svg' color='#B7F8DB'>
	
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do%7CWork+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


	<link rel="stylesheet" type="text/css" href="/css/color.css">
	<link rel="stylesheet" type="text/css" href="/css/fontsize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>