<%- include('head'); -%>

<div class="container">
    <h1>Welcome, <%= user.name %>!</h1>

    <div>
    <p>You don't have any Giffon campaign yet.</p>
    <a href="/create-campaign">Make a wish.</a>
    </div>
</div>

<footer class="p-5 text-center">
Copyright &copy; Giffon. All Rights Reserved.
</footer>

<%- include('foot'); -%>