<%
locals.title = "Giffon: A crowd-gifting platform";
locals.description = "A crowd-gifting platform where you can state what you want and let your friends collectively buy it as a gift for you.";
bodyClasses.push("page-index");
%>
<%- include('head'); -%>

<div class="container-fluid px-3 py-5 p-md-5">
	<div class="row">
		<div class="col-sm-12 col-md-8 ml-md-auto mr-md-auto text-center">
			<img class="width_xs_60 width_md_25 pb-2 pb-md-4" src="images/6.svg" alt="Giffon logo">
			<h1>Giffon</h1>
			<h1>A crowd-gifting platform</h1>
			<h3 class="hand"><img id="arrow" src="images/turn-right-arrow-w.svg" alt="arrow" width="60">where birds of a feather flock together</h3>

			<form action="https://docs.google.com/forms/d/e/1FAIpQLSeFe8MGRFNixqDWxLBvrMnTdRE9TtAy6gARVNcDN0aX7mm7gQ/viewform?usp=sf_link">
				<button id="btn_access" class="btn px-4 py-3 shadow shadow-md-lg" type="submit">Get Early Access</button>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid">
	<h1 class="hand text-center font_xs_xl font_md_xxl">How does Giffon work?</h1>
	
	<div class="row mt-4 mt-md-3">
		<div class="col-xs-12 col-lg-auto ml-md-auto p-0 text-left color_black bg_white_o80 card_left">
			<div><h2 class="bg1 color_white p-4">From Start</h2></div>
			<div class="flex_container_v_xs intro">
				<div class="vbox p-4">
					<p>Choose a <span title="smart phone"><img draggable="false" class="emoji" alt="📱" src="https://twemoji.maxcdn.com/36x36/1f4f1.png"></span> <span title="handbag"><img draggable="false" class="emoji" alt="👜" src="https://twemoji.maxcdn.com/36x36/1f45c.png"></span> <span title="lipstick"><img draggable="false" class="emoji" alt="💄" src="https://twemoji.maxcdn.com/36x36/1f484.png"></span> <span title="bowling ball and pins"><img draggable="false" class="emoji" alt="🎳" src="https://twemoji.maxcdn.com/36x36/1f3b3.png"></span> <span title="car"><img draggable="false" class="emoji" alt="🚗" src="https://twemoji.maxcdn.com/36x36/1f697.png"></span> or any of the millions items listed in <a href="https://www.amazon.com/" target="_blank" rel="nofollow"><img src="Amazon_logo_plain.svg" alt="Amazon" class="inline-icon"></a>. Start a Giffon campaign and let your friends know.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-lg-auto mr-md-auto p-0 text-left color_black bg_white card_right shadow">
			<div><h2 class="bg1 color_white p-4">To Surprise</h2></div>
			<div class="flex_container_v_xs intro">
				<div class="vbox p-4">
					<p>At the end of the campaign, if there are enough pledges, Giffon will collect the money and buy you the gift! <img draggable="false" class="emoji" alt="🎉" src="https://twemoji.maxcdn.com/36x36/1f389.png"></p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
	<div class="col-xs-12 col-md-1 mx-3 ml-md-auto text-xs-left text-md-right">
		<h2 class="hand">P.S.</h2>
	</div>
	<div class="col-xs-12 col-md-6 mx-3 mr-md-auto text-left">
		<p>In case there are not enough pledges, you can still pay for the remaining amount and get it anyway <img draggable="false" class="emoji" alt="😎" src="https://twemoji.maxcdn.com/36x36/1f60e.png">, or just cancel the campaign and no one will be charged.</p>
	</div>
	</div>

</div>
<br><br><br>
<div class="container-fluid text-center">
	<h1 id="set" class="hand font_xs_xl font_md_xxl">Why set up Giffon campaigns?</h1>
	<div id="set2" class="row mt-4 mt-md-3 invisible">
		<div class="col-sm-12 col-md-2 mr-5 ml-md-auto mr-md-3 bg4 color_white shadow p-3 flex_container_v_xs d-none d-md-flex">
			<div class="vbox">
				<h2>For You</h2>
			</div>
		</div>

		<div class="col-xs-auto col-sm-6 col-md-2 p-0 mr-3 mr-sm-auto mr-md-3 bg_white_o80 corner_s shadow">
			<div class="color_black px-3 py-4 px-md-2 py-md-4">
				<img class="width_xs_30 width_md_60" src="images/smile.svg" alt="smile">
				
				<div class="py-3">
					<span class="d-inline-block px-2 py-1 color_white corner_xs" style="background:#a6c0fe;">#awesome</span>
				</div>
				<p>get exactly what you want, every single time</p>
				
			</div>
		</div>

		<div class="col-xs-auto col-sm-6 col-md-2 p-0 mr-3 mr-sm-auto mr-md-3 bg_white_o80 corner_s shadow">
			<div class="color_black px-3 py-4 px-md-2 py-md-4">
				<img class="width_xs_30 width_md_60" src="images/speaker.svg" alt="speaker">
				<div class="py-3">
					<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#CAA4C9;">#speakUp</span>
				</div>
				<p>people want to gift you, they just don't know what to buy</p>
				
			</div>
		</div>

		<div class="col-xs-auto col-sm-6 col-md-2 p-0 mr-3 mr-sm-auto mr-md-3 bg_white_o80 corner_s shadow">
			<div class="color_black px-3 py-4 px-md-2 py-md-4">
				<img class="width_xs_30 width_md_60" src="images/plant.svg" alt="plant">
				<div class="py-3">
					<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#D798B3;">#ecoFriendly</span>
				</div>
				<p>no longer need to deal with gifts that have no value to you</p>
				
			</div>
		</div>

		<div class="col-xs-auto col-sm-6 col-md-2 p-0 mr-3 mr-sm-auto mr-md-3 bg_white_o80 corner_s shadow">
			<div class="color_black px-3 py-4 px-md-2 py-md-4">
				<img class="width_xs_30 width_md_60" src="images/piggy.svg" alt="piggy bank">
				<div class="py-3">
					<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#f68084;">#saveMoney</span>
				</div>
				<p>get exactly what you want, every single time</p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-2 mr-3 mr-sm-0 ml-md-3 bg4 color_white shadow p-3 flex_container_v_xs d-flex d-md-none">
			<div class="vbox">
				<h2>For You</h2>
			</div>
		</div>
		
	</div>
</div>
<br><br><br>
<div class="container-fluid text-center">
	<h1 class="hand font_xs_xl font_md_xxl">Why support Giffon campaigns?</h1>
	
	<div id="support" class="row mt-4 mt-md-3 invisible">


			<div class="col-xs-auto col-sm-6 col-md-2 p-0 ml-3 ml-sm-auto ml-md-3 bg_white corner_s shadow">
				<div class="color_black px-3 py-4 px-md-2 py-md-4">
					<img class="width_xs_30 width_md_60" src="images/charity.svg" alt="charity">
					<div class="py-3">
						<span class="d-inline-block px-2 py-1 color_white corner_xs" style="background:#59d7ff;">#sincerity</span>
					</div>
					<p>show that you are thankful, appreciating someone</p>
					
				</div>
			</div>

			<div class="col-xs-auto col-sm-6 col-md-2 p-0 ml-3 ml-sm-auto ml-md-3 bg_white corner_s shadow">
				<div class="color_black px-3 py-4 px-md-2 py-md-4">
					<img class="width_xs_30 width_md_60" src="images/motivation.svg" alt="certain">
					<div class="py-3">
						<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#61BCFF;">#certain</span>
					</div>
					<p>your money spent is going to make the receiver happy</p>
					
				</div>
			</div>

			<div class="col-xs-auto col-sm-6 col-md-2 p-0 ml-3 ml-sm-auto ml-md-3 bg_white corner_s shadow">
				<div class="color_black px-3 py-4 px-md-2 py-md-4">
					<img class="width_xs_30 width_md_60" src="images/coins.svg" alt="coins">
					<div class="py-3">
						<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#6C97FE;">#affordable</span>
					</div>
					<p>a good gift is never too expensive once your friends chip in</p>
					
				</div>
			</div>

			<div class="col-xs-auto col-sm-6 col-md-2 p-0 ml-3 ml-sm-auto ml-md-3 bg_white corner_s shadow">
				<div class="color_black px-3 py-4 px-md-2 py-md-4">
					<img class="width_xs_30 width_md_60" src="images/title.svg" alt="trusty">
					<div class="py-3">
						<span class="d-inline-block px-2 py-1 color_white corner_xs"  style="background:#747dfd;">#trusty</span>
					</div>
					<p>be sure your loved one will receive the nice gift instead of money that may be spent on cigarettes</p>
					
				</div>
			</div>

			<div class="col-sm-12 col-md-2 mr-md-auto ml-3 ml-sm-0 ml-md-3 bg5 color_white shadow p-3 flex_container_v_xs">
				<div class="vbox">
					<h2>For Your Friends</h2>
				</div>
			</div>
		
	</div>
</div>
<br><br><br>
<div class="container-fluid text-center">
	<h1 class="hand font_xs_xl font_md_xxl">Who made Giffon?</h1>

	<div id="founder" class="row mx-auto mt-4 mt-md-3">
		<div class="col-xs-auto col-md-6 p-5 mx-auto bg_white color_black shadow">
			<div class="profileo mx-auto mb-4 mb-md-3 bg1">
				<div class="m-auto" id="profile"></div>
			</div>
			<p>Giffon is founded by Andy and Stella, an IT guru and a UX designer.</p>
		</div>

	</div>
</div>

<br><br><br>
<footer class="p-5 text-center">
<p>
	Copyright &copy; Giffon. All Rights Reserved.
	<span class="boring-stuff"><a href="/terms">Terms and Conditions</a> <a href="/privacy">Privacy Policy</a></span>
</p>
</footer>

<script src="/js/scroll.js"></script>
<%- include('foot'); -%>