<%
locals.title = "Make a wish - Giffon";
bodyClasses.push("page-make-a-wish");
%>
<%- include('head'); -%>

<div class="container">
    <h1>Make a wish.</h1>
    <div id="make-a-wish-root"><%-wishFormHTML%></div>
</div>

<%- include('foot'); -%>