* {
    font-family: 'Cambay', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 3em 0; /* bottom has to be the same as footer height */
    color: #333;
}

img.emoji {
    height: 1.2em;
    width: 1.2em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.inline-icon {
    height: 1em;
}

.banner {
    text-align: center;
    background-image: url(david-svihovec-701536-unsplash.jpg);
    background-position: center 46%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: grey;
    padding: 5em 0 1em 0;
    color: white;
    margin-bottom: 1em;
}

.banner .logo {
    background-color: rgba(80, 80, 80, 0.6);
    display: inline-block;
    padding: 1em 4em;
    border-radius: 0.25em;
}

.banner i {
    text-stroke: 2px deeppink;
    text-shadow:
      -2px -2px 0 white,
       2px -2px 0 white,
      -2px  2px 0 white,
       2px  2px 0 white,
       4px  4px 10px rgba(0, 0, 0, 0.25);
}

.banner h1 {
    text-stroke: 1.5px deeppink;
    text-shadow:
      -2px -2px 0 white,
       2px -2px 0 white,
      -2px  2px 0 white,
       2px  2px 0 white,
       4px  4px 4px rgba(0, 0, 0, 0.25);
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0.25em 0 0 0;
}

.banner .subtitle {
    text-shadow:
      -0.5px -0.5px 0 grey,
       0.5px -0.5px 0 grey,
      -0.5px  0.5px 0 grey,
       0.5px  0.5px 0 grey;
    /* font-weight: bold; */
    letter-spacing: 0.02em;
    margin-bottom: 0;
}

.request-access {
    background-color: deeppink;
    border-radius: 2em;
    padding: 0.5em 1em 0.25em 1em;
    margin: 2em 0 0 0;
    color: white;
    text-decoration: underline;
    display: inline-block;
}

.request-access:hover {
    color: white;
    text-decoration: none;
}

h2 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: bold;
}

.coolness i.fas {
    color: yellowgreen;
}

.container {
    font-size: 1.2em;
}

.items .col-sm {
    padding-bottom: 1.5em;
    /* padding: 1em 1.5em 1em 0; */
}

.coolness .title {
    /* display: inline-block;
    min-width: 9em; */
    font-weight: bold;
    padding-left: 0.2em;
}

.coolness .title::after {
    content: " - ";
    font-weight: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    background-color: #f5f5f5;
    text-align: center;
}

.footer img.emoji {
    height: 0.75em;
    width: 0.75em;
    margin: 0;
    vertical-align: 0;
}