html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Work Sans', Arial, sans-serif;

    background:#f5f5f5;

    color: #222;
    display: flex;
    flex-direction: column;
    height: 100%; /* Avoid the IE 10-11 `min-height` bug. */
}

body > .content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    height: fit-content;
}

::selection {
    background: #ef7e0a;
}

.width_xs_15 {
    width: 15%;
}

.width_xs_30 {
    width: 30%;
}

.width_xs_50 {
    width: 50%;
}

.width_xs_60 {
    width: 60%;
}

.hand {
    font-family: 'Nothing You Could Do', Arial, sans-serif;
}

#arrow {
    margin-top: -20px;
}

#btn_access {
    border: none;
    border-radius: 30em;
    /*background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);*/
    background-image: linear-gradient(15deg, #fa709a 0%, #fee140 100%);
    color: white;
}

.bg_white_o80 {
    background: rgba(255,255,255,0.7);
}

.bg_white {
    background: white;
}

.color_black {
    color: rgba(0,0,0,0.8);
}

.color_white {
    color: white;
}

.color_white_o50 {
    color: rgba(255,255,255,0.5);
}

.color_yellow {
    color: #f9df2b;
}

.corner_xs {
    border-radius: 0.5em;
}

.intro {
    width: 100%;
    height: auto;
    line-height: 1.8rem;
}

img.emoji, .inline-icon {
    height: 1.5rem;
}

.flex_container_v_xs {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.vbox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.idea-bulb {
    z-index:9; top:-1.5rem;
}

.page-wish #banner {
    min-height: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.wish-form .wish-banner {
    height: 12em;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: left center;
}

.wish-form #giphyModal .modal-content {
    background: none;
    border: none;
}

.wish-form .giphy-picker {
    margin: 0 auto 0 auto;
    border: none;
}

.wish-form .giphy-attribution {
    object-fit: contain;
    max-height: 1em;
    margin: 5px;
}

.wish-form .modal-backdrop.show {
    opacity: 0.8;
}

.page-wish .tooltip-inner {
    white-space: pre-wrap;
}

.btn-success {
    background: #065af2;
    border: 0;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background: #0540ac;
}

.feature {
    width: auto;
    height: 15rem;
}

.card_left, .detail_card_left {
    margin: 0;
}

.card_right, .detail_card_right {
    margin: 0;
}

.detail_card_left {
    margin: 0;
    background: #09203f;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight2 {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.from_left {
    animation: 500ms ease-out 0s 1 slideInFromLeft2;
}

.from_right {
    animation: 500ms ease-out 0s 1 slideInFromRight2;
}

@media (min-width: 768px) {

    .card_left {
        margin: 0px 0 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .card_right {
        margin: 30px 0 0 -20px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .detail_card_left {
        margin: 0px -15px 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .detail_card_right {
        margin: 30px 0 0 -30px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }
}

@media (min-width: 992px) {
    .width_md_25 {
        width: 25%;
    }

    .width_md_60 {
        width: 60%;
    }

    .card_left {
        margin: 0px -15px 60px 0;
        animation: 500ms ease-out 0s 1 slideInFromLeft;
    }

    .card_right {
        margin: 60px 0 0 -15px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .detail_card_left {
        margin: 0px -15px 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .detail_card_right {
        margin: 30px 0 0 -30px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .intro {
        width: 24rem;
        height: 18rem;
        font-size: 1.1rem;
    }

    .feature {
        width: 15rem;
        height: 15rem;
    }
}

#nav {
    display: none;
}

.beta #nav {
    display: inherit;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
}

#nav a {
    color: white;
    text-decoration: underline;
}

#nav a:hover {
    color: white;
    text-decoration: none;
}

.signInBtn, .signOutBtn {
    display: none;
}

.signInBtn .fab {
    margin-left: 0.5em;
}

.signed-in .signInBtn, .signed-out .signOutBtn {
    display: none;
}

.signed-out .signInBtn, .signed-in .signOutBtn {
    display: inline-block;
}

.greeting {
    display: none;
}

.signed-out .greeting {
    display: none;
}

.signed-in .greeting {
    display: inline-block;
}

.page-home .wish,
.page-user .wish {
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: white;
    color: #333333;
}

.page-home .wish .item,
.page-user .wish .item {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.5em;
    max-width: 100%;
    width: fit-content;
    min-width: min-content;
}

.page-home img.item-screenshot,
.page-user img.item-screenshot {
    max-width: 100%;
    width: 150px;
}

.page-user .user-description {
    white-space: pre-wrap;
}

.page-user .user-social-accounts .btn.disabled {
    opacity: 1;
}

#profile {
    background-image: url('/images/us.jpg'); 
    background-position: left;
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius:150px;
}

.profileo {
    width: 150px;
    height: 150px;
    border-radius:150px;
    padding: 5px;
}

footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    background: #484848;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

.StripeElement {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.page-cards .has-card-some #payment-form {
    display: none;
}

.page-cards .alert:empty {
    display: none;
}

.page-wish .has-user-pledge-some form.add-pledge {
    display: none;
}

.progress {
    margin-bottom: 1em;
}

.progress-bar {
    min-width: 2em;
}

.page-signin .card {
    min-width: 20em;
}

.page-signin.successful-login .signInBtn {
    display: none;
}

.page-signin img.loading {
    display: none;
}

.page-signin.successful-login img.loading {
    display: block;
}


a.signInBtn img.logo {
    width: 1.25em;
    height: 1.25em;
}

a.btn.signInBtn {
    color: #777;
    font-family: 'Roboto';
}

a.btn.signInBtn:hover {
    text-decoration: none;
    color: #000;
}


.navbar-light a.navbar-brand {
    padding: 0.5em 1em 0.5em 2em;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: left center;
}

.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover,
.navbar-light a.navbar-brand:active {
    color: #919292;
    font-size: 1.5em;
    line-height: 1em;
}

.navbar .logo  {
    width: 50px;
}

.navbar a {
    color: #919292;
}

.nav-link {
    padding-left: 1em;
    padding-right: 1em;
}

.btn.ghost {
    background:transparent;
    border: 1px solid;
}

.border_xs {
    border:1px solid rgba(51,51,51,0.12);
}
.border_xs_t {
    border-top:1px solid rgba(51,51,51,0.12);
}
.border_xs_l {
    border-left:1px solid rgba(51,51,51,0.12);
}
.border_xs_r {
    border-right:1px solid rgba(51,51,51,0.12);
}
.border_xs_b {
    border-bottom:1px solid rgba(51,51,51,0.12);
}

.bg4  {
    background: #09203f;
}

.bg6 {
    background: #f9df2b;

}

.bg-yellow-dot {
    background: linear-gradient(90deg, #f9df2b 20px, transparent 1%) center, linear-gradient(#f9df2b 20px, transparent 1%) center, #c3ad11;
    background-size: 22px 22px;
}

.bg-index {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    
}
@media( min-width: 768px ) {
    .bg-index {
      background-size: contain;
    }
}

@media( min-width: 768px ) {
    #banner {
      min-height: calc(100vh - 56px);
    }
}

.how-to {
    box-shadow: 3px 3px 0;
}

.how-to-step {
    position: absolute;
    width:45px;
    height: 45px;
    background: #111;
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border:3px solid #FFF;
    left: calc(50% - 22px);
    bottom: -22px;
    border-radius: 50%;
  }

  .how-it-works {
    background: linear-gradient(0deg, #f9df2b, transparent);
  }

  .wish-succeeded {
    padding-top: 400px; 
    margin-bottom: -100px;
  }
  @media( min-width: 768px ) {
      .wish-succeeded {
        padding-top: 250px; 
      }
  }

  .halftone {  
    /*
      size progressively decreasing 
    */
      background-image:
        radial-gradient(
          circle,
          #f9df2b 85%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 80%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 75%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 70%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 65%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 60%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 55%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 50%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 45%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 40%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 35%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 30%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 25%,
          transparent 0
          ),
        radial-gradient(
          circle,
          #f9df2b 20%,
          transparent 0
          );  
     
    /*
      change all other values when changing this.
      I suppose this'd be easier to do in Sass.
    */
      background-size: 1em 1em;
      
    /*
      If you want a vertical pattern change to repeat-x, also remember to  switch the background-positions' values. Eg. "2em 0" becomes "0 2em".
    */
      background-repeat: repeat-x;
      
    /*
      based on background-size value
    */
      background-position:
        0 0, 
        0 1em, 
        0 2em, 
        0 3em, 
        0 4em, 
        0 5em, 
        0 6em,
        0 7em,
        0 8em,
        0 9em,
        0 10em,
        0 11em,
        0 12em,
        0 13em;
      }

  .notes-to-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding-top: 12px;
    text-align: center; 
  }



/* mobile menu */
.navbar-toggler {
    border:0;
}

.shaded-shadow {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
}

.wish-owner {
    left: calc( 50% - 45px);
    top: -45px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.wish-owner-avatar {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width:90px;
    height: 90px;
    border:3px solid #FFF;
    left: calc(50% - 45px);
    bottom: -45px;
}

.supporter-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    border:3px solid #FFF;
    background-position: 50% 50%;
}

.highlight {
    background: #ffe000;
    padding: 0.2rem 0.3rem;
}

.page-user .user-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 120px;
    height: 120px;
    margin: 10px;
    border:3px solid #FFF;
}

.page-user .user-info .user-name {
    font-size: 1.5em;
}

.page-wish .wish-item {
    /* font-size: 1.5em; */
    background: none;
}

.page-wish .coupon_code.badge {
    font-size: 1em;
    padding: 0.2em 1em;
    font-weight: 100;
}

.form-control.stripe {
    padding-top: 0.6em;
}

.form-control.stripe--focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.wish-form .wish-item {
    border-bottom: 1px solid #CCC;
    margin-bottom: 1em;
}

.wish-form .wish-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.floating-action-bar {
    right: 1em;
    bottom: 50%;
    z-index: 10;
}

.wish-box .wish-banner {
    height: 180px;
    background-image: url("https://media.giphy.com/media/RKMWXB2EUqeFB4CpKm/giphy.gif");
    background-position: center center;
    background-size: auto 100%;
}

.wish-box .wish-owner-name a {
    text-decoration: underline;
    color: rgba(0,0,0,1);
}
.wish-box .wish-owner-name a:hover {
    text-decoration: none;
    color: rgba(0,0,0,1);
}

.wish-box .btn {
    box-shadow: 0px -10px 10px 0px white
}

.wish-box .wish-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4rem;
}

.wish-description {
    white-space: pre-wrap;
}

.page-index .slick-slide:focus {
    outline: none;
}

.reason-title {
    font-size: 1.5em;
}

.hero-title .title {
    font-size: 3em;
}

.hero-title .slogan {
    font-size: 1.5em;
}

.banner-bulb {
    z-index:9;
    top:-1.5rem;
}

.page-use-cases .card-img-top {
    position:relative;
    overflow:hidden;
    padding-bottom:75%;
    background-size: cover;
}

.page-use-cases .jumbotron {
    background-size: cover;
}

.page-use-cases.page-use-cases-video-creators .jumbotron {
    background-position-y: 100%;
}

.page-use-cases.page-use-cases-oss-developers .jumbotron {
    background-position-y: 60%;
}

.page-use-cases .card-header .logo {
    object-fit: contain;
    height: 5em;
    max-width: 100%;
    display: block;
    margin: 0.5em auto 1em auto;
}

.detail_banner {
    height:360px;
    background-size: contain;
    background-position: center;
}

.ribbon-wrapper {
    position: relative;
    z-index:998;
}
.ribbon-front {
    background-color: #f9df2b;
    /*height: 50px;*/
    width: calc(100% + 20px);
    position: relative;
    left:-10px;
    z-index: 2;
}

.ribbon-front,
.ribbon-back-left,
.ribbon-back-right
{
    -moz-box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    -khtml-box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    -o-box-shadow: 0 4px 9px rgba(0,0,0,0.2);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft {
    top: -5px;
    border-width: 5px 10px 0 0;
    left: -10px;
    border-color: transparent #ad5100 transparent transparent;
}

  .ribbon-edge-bottomright {
    border-width: 0 0 5px 10px;
    right: -10px;
    bottom: -5px;
    border-color: transparent transparent transparent #ad5100;
}

.custom-border {
    background-image: linear-gradient(0deg, #fff 47%, #5c5656 49%, #fff 50%);
}

.custom-border2 {
    background-image: linear-gradient(0deg, #fff700 70%, #fff 71%);
}

.custom-border3 {
    background-image: linear-gradient(0deg, transparent 70%, #fff 71%);
}

.text-center-justify {
    text-align: justify;
    text-align-last: center;
}

.page-settings input[type='file'] {
    height: fit-content;
}

.fontw-700 {
    font-weight: 700;
}

@-webkit-keyframes fadeIn { from { opacity:0; transform: translateX(20px); } to { opacity:1; transform: translateX(0); } }
@-moz-keyframes fadeIn { from { opacity:0; transform: translateX(20px); }  to { opacity:1; transform: translateX(0); } }
@keyframes fadeIn { from { opacity:0; transform: translateX(20px); } to { opacity:1; transform: translateX(0); } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1000ms;
    -moz-animation-duration:1000ms;
    animation-duration:1000ms;
}

.fade-in.two {
    -webkit-animation-delay:800ms;
    -moz-animation-delay:800ms;
    animation-delay:800ms;
}

.fade-in.three {
    -webkit-animation-delay:1200ms;
    -moz-animation-delay:1200ms;
    animation-delay:1200ms;
}

a.unstyled, a:hover.unstyled {
    color: inherit;
    text-decoration: none;
}