@import 'fontsize.css';
@import 'color.css';

html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Work Sans', Arial, sans-serif;

    background:#f5f5f5;

    color: #222;
    display: flex;
    flex-direction: column;
    height: 100%; /* Avoid the IE 10-11 `min-height` bug. */
}

body > .content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    height: fit-content;
}

::selection {
    background: #B7F8DB;
}

.width_xs_30 {
    width: 30%;
}

.width_xs_50 {
    width: 50%;
}

.width_xs_60 {
    width: 60%;
}

.hand {
    font-family: 'Nothing You Could Do', Arial, sans-serif;
}

#arrow {
    margin-top: -20px;
}

#btn_access {
    border: none;
    border-radius: 30em;
    /*background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);*/
    background-image: linear-gradient(15deg, #fa709a 0%, #fee140 100%);
    color: white;
}

.bg_white_o80 {
    background: rgba(255,255,255,0.7);
}

.bg_white {
    background: white;
}

.color_black {
    color: rgba(0,0,0,0.8);
}

.color_white {
    color: white;
}

.color_white_o50 {
    color: rgba(255,255,255,0.5);
}

.color_yellow {
    color: #fff700;
}

.corner_xs {
    border-radius: 0.5em;
}

.intro {
    width: 100%;
    height: auto;
    line-height: 1.8rem;
}

img.emoji, .inline-icon {
    height: 1.5rem;
}

.flex_container_v_xs {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.vbox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#banner {
    background-image: radial-gradient(farthest-corner at 88px 40px, rgba(9, 32, 63, 0.18) 50%, rgba(6, 90, 242, 0.1) 100%), url(../images/bg2.svg);
}

.idea-bulb {
    z-index:9; top:-1.5rem;
}

.page-wish #banner {
    min-height: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
}

.page-make-a-wish .wish-banner {
    height: 12em;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: left center;
}

.page-make-a-wish #giphyModal .modal-content {
    background: none;
    border: none;
}

.page-make-a-wish .giphy-picker {
    margin: 0 auto 0 auto;
    border: none;
}

.page-make-a-wish .giphy-attribution {
    object-fit: contain;
    max-height: 1em;
    margin: 5px;
}

.page-make-a-wish .modal-backdrop.show {
    opacity: 0.8;
}

.btn-success {
    background: #065af2;
    border: 0;
}

.btn-success:hover, .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    background: #064ed4;
}

.feature {
    width: auto;
    height: 15rem;
}

.card_left, .detail_card_left {
    margin: 0;
}

.card_right, .detail_card_right {
    margin: 0;
}

.detail_card_left {
    margin: 0;
    background: #09203f;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight2 {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.from_left {
    animation: 500ms ease-out 0s 1 slideInFromLeft2;
}

.from_right {
    animation: 500ms ease-out 0s 1 slideInFromRight2;
}

@media (min-width: 768px) {

    .card_left {
        margin: 0px 0 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .card_right {
        margin: 30px 0 0 -20px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .detail_card_left {
        margin: 0px -15px 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .detail_card_right {
        margin: 30px 0 0 -30px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }
}

@media (min-width: 992px) {
    .width_md_25 {
        width: 25%;
    }

    .width_md_60 {
        width: 60%;
    }

    .card_left {
        margin: 0px -15px 60px 0;
        animation: 500ms ease-out 0s 1 slideInFromLeft;
    }

    .card_right {
        margin: 60px 0 0 -15px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .detail_card_left {
        margin: 0px -15px 30px 0;
        animation: 1000ms ease-out 0s 1 slideInFromLeft;
    }

    .detail_card_right {
        margin: 30px 0 0 -30px;
        animation: 1000ms ease-out 0s 1 slideInFromRight;
    }

    .intro {
        width: 24rem;
        height: 18rem;
        font-size: 1.1rem;
    }

    .feature {
        width: 15rem;
        height: 15rem;
    }
}

#nav {
    display: none;
}

.beta #nav {
    display: inherit;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
}

#nav a {
    color: white;
    text-decoration: underline;
}

#nav a:hover {
    color: white;
    text-decoration: none;
}

.signInBtn, .signOutBtn {
    display: none;
}

.signInBtn .fab {
    margin-left: 0.5em;
}

.signed-in .signInBtn, .signed-out .signOutBtn {
    display: none;
}

.signed-out .signInBtn, .signed-in .signOutBtn {
    display: inline-block;
}

.greeting {
    display: none;
}

.signed-out .greeting {
    display: none;
}

.signed-in .greeting {
    display: inline-block;
}

.page-home .wish,
.page-user .wish {
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: white;
    color: #333333;
}

.page-home .wish .item,
.page-user .wish .item {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.5em;
    max-width: 100%;
    width: fit-content;
    min-width: min-content;
}

.page-home img.item-screenshot,
.page-user img.item-screenshot {
    max-width: 100%;
    width: 150px;
}

.page-user .user-description {
    white-space: pre-wrap;
}

.page-user .user-social-accounts .btn.disabled {
    opacity: 1;
}

#profile {
    background-image: url('/images/us.jpg'); 
    background-position: left;
    background-size: cover;
    width: 140px;
    height: 140px;
    border-radius:150px;
}

.profileo {
    width: 150px;
    height: 150px;
    border-radius:150px;
    padding: 5px;
}

footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
    background: #09203f;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer .social {
    font-size: 1.5em;
}

footer .social a:hover {
    color: #CCC;
}

.StripeElement {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.page-cards .has-card-some #payment-form {
    display: none;
}

.page-cards .alert:empty {
    display: none;
}

.page-wish .has-user-pledge-some form.add-pledge {
    display: none;
}

.progress {
    margin-bottom: 1em;
}

.progress-bar {
    min-width: 2em;
}

.page-signin.successful-login .signInBtn {
    display: none;
}

.page-signin img.loading {
    display: none;
}

.page-signin.successful-login img.loading {
    display: block;
}

.navbar-light a.navbar-brand {
    padding: 0.5em 1em 0.5em 2em;
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: left center;
}

.navbar-light a.navbar-brand,
.navbar-light a.navbar-brand:hover,
.navbar-light a.navbar-brand:active {
    color: #919292;
    font-size: 1.5em;
    line-height: 1em;
}

.navbar .logo  {
    width: 50px;
}

.navbar a {
    color: #919292;
}

.nav-link {
    padding-left: 1em;
    padding-right: 1em;
}

.btn.ghost {
    background:transparent;
    border: 1px solid;
}

.border_xs {
    border:1px solid rgba(51,51,51,0.12);
}
.border_xs_t {
    border-top:1px solid rgba(51,51,51,0.12);
}
.border_xs_l {
    border-left:1px solid rgba(51,51,51,0.12);
}
.border_xs_r {
    border-right:1px solid rgba(51,51,51,0.12);
}
.border_xs_b {
    border-bottom:1px solid rgba(51,51,51,0.12);
}

.bg4  {
    background: #09203f;
}

.bg5 {
    background-image: radial-gradient(farthest-corner at 8px 20px, #09203f 50%, #065af2 100%);
    
}

.bg6 {
    background: #fff700;

}


/* mobile menu */
.navbar-toggler {
    border:0;
}

.shaded-shadow {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.15);
}

.wish-owner {
    left: calc( 50% - 40px);
    top: -40px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.wish-owner-avatar {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.supporter-avatar {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    flex: 0 0 40px;
}

.highlight {
    background: #ffe000;
    padding: 0.2rem 0.3rem;
}

.page-user .user-avatar {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin: 10px;
}

.page-user .user-info .user-name {
    font-size: 1.5em;
}

.page-wish .wish-item {
    font-size: 1.5em;
    background: none;
}

.page-wish .coupon_code.badge {
    font-size: 1em;
    padding: 0.2em 1em;
    font-weight: 100;
}

.page-make-a-wish .wish-item {
    border-bottom: 1px solid #CCC;
    margin-bottom: 1em;
}

.page-make-a-wish .wish-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.floating-action-bar {
    right: 1em;
    bottom: 50%;
    z-index: 10;
}

.wish-box .wish-owner-name a {
    text-decoration: underline;
    color: rgba(0,0,0,1);
}
.wish-box .wish-owner-name a:hover {
    text-decoration: none;
    color: rgba(0,0,0,1);
}

.wish-box .btn {
    box-shadow: 0px -10px 10px 0px white
}

.wish-box .wish-description {
    height: 120px;
    overflow: hidden;
}

.wish-description {
    white-space: pre-wrap;
    display: flex;
}

.page-index .slick-slide:focus {
    outline: none;
}

.reason-title {
    font-size: 1.5em;
}

.page-wish h4 {
    font-size: 1.2em;
    padding-top: 0.2em;
}

.hero-title .title {
    font-size: 3em;
}

.hero-title .slogan {
    font-size: 1.5em;
}

.banner-bulb {
    z-index:9;
    top:-1.5rem;
}

.page-use-cases-video-creators .card-img-top {
    position:relative;
    overflow:hidden;
    padding-bottom:75%;
    background-size: cover;
}

.page-use-cases-video-creators .jumbotron {
    background-size: cover;
    background-position-y: 100%;
}