body {
    font-family: 'Work Sans', Arial, sans-serif;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b7f8db+0,50a7c2+100 */
    background: #b7f8db; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #b7f8db 0%, #50a7c2 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b7f8db), color-stop(100%,#50a7c2)); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(-45deg, #b7f8db 0%,#50a7c2 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(-45deg, #b7f8db 0%,#50a7c2 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(-45deg, #b7f8db 0%,#50a7c2 100%); /* IE10 preview */
    background: linear-gradient(135deg, #b7f8db 0%,#50a7c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7f8db', endColorstr='#50a7c2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-attachment: fixed;
    color: white;
}

::selection {
    background: #50A7C2;
}

.width_xs_30 {
    width: 30%;
}

.width_xs_50 {
    width: 50%;
}

.width_xs_60 {
    width: 60%;
}

.hand {
    font-family: 'Nothing You Could Do', Arial, sans-serif;
}

#arrow {
    margin-top: -20px;
}

#btn_access {
    border: none;
    border-radius: 30em;
    /*background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);*/
    background-image: linear-gradient(15deg, #fa709a 0%, #fee140 100%);
    color: white;
}

.bg_white_o80 {
    background: rgba(255,255,255,0.8);
}

.bg_white {
    background: white;
}

.color_black {
    color: rgba(0,0,0,0.8);
}

.color_white {
    color: white;
}

.corner_xs {
    border-radius: 0.5em;
}

.intro {
    width: 100%;
    height: auto;
    line-height: 1.8rem;
}

img.emoji, .inline-icon {
    height: 1.5rem;
}

.flex_container_v_xs {
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
}

.vbox {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.bg1 {
    /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}

.bg2 {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.bg4  {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.bg5 {
    background-image: linear-gradient(120deg, #59d7ff 0%, #747dfd 100%);
}

.feature {
    width: auto;
    height: 15rem;
}

.card_left {
    margin: 0 1.5rem 1rem 0;
}

.card_right {
    margin: 0 0 1rem 1.5rem;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight2 {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.from_left {
    animation: 500ms ease-out 0s 1 slideInFromLeft2;
}

.from_right {
    animation: 500ms ease-out 0s 1 slideInFromRight2;
}



@media (min-width: 992px) {
    .width_md_25 {
        width: 25%;
    }

    .width_md_60 {
        width: 60%;
    }

    .card_left {
        margin: 0px 0 30px 0;
        animation: 500ms ease-out 0s 1 slideInFromLeft;
    }

    .card_right {
        margin: 30px 0 0 -20px;
        animation: 500ms ease-out 0s 1 slideInFromRight;
    }

    .intro {
        width: 24rem;
        height: 18rem;
        font-size: 1.1rem;
    }

    .feature {
        width: 15rem;
        height: 15rem;
    }
}

#nav {
    display: none;
}

.beta #nav {
    display: inherit;
}

#nav {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
}

#nav a {
    color: white;
    text-decoration: underline;
}

#nav a:hover {
    color: white;
    text-decoration: none;
}

.signInBtn, .signOutBtn {
    display: none;
    padding: 0.5em;
    margin: 0 0.5em;
}

.signInBtn .fab {
    margin-left: 0.5em;
}

.signed-in .signInBtn, .signed-out .signOutBtn {
    display: none;
}

.signed-out .signInBtn, .signed-in .signOutBtn {
    display: inline-block;
}

.greeting {
    display: none;
}

.signed-out .greeting {
    display: none;
}

.signed-in .greeting {
    display: inline-block;
}